# dependencies
node_modules/
.pnp
.pnp.*

# testing
coverage/

# build outputs
.next/
out/
build/
.open-next/
.wrangler/
dist/

# env files
.env*

# debug logs
*.log

# IDEs and OS files
.vscode/
.idea/
.DS_Store
*.pem
